<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusael.travels.dao.UserDAO">

    <!--注册用户-->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id"> /*id自动生成, 生成之后放到id属性*/
        INSERT INTO t_user
        VALUES (#{id}, #{username}, #{password}, #{email})
    </insert>

    <!--根据用户名查询用户|用户登录-->
    <select id="findByUsername" parameterType="String" resultType="User">
        SELECT * FROM t_user
        WHERE username = #{username}
    </select>

</mapper>